/*colors*/
$main-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$green: #008766;
/*nuance grise*/
$light-grey: #f6f6f6;
$medium-grey: #eaeaea;
$dark-grey: #353535;
$grey: #7e7e7e;
/* neutre*/
$black: #000000;
$white: #ffffff;

$body-font: "Roboto";
$title-font: "Shrikhand";

body {
  margin: 0;
  font-family: $body-font;
}

img {
  object-fit: cover;
}
.fa-solid--purple {
  color: $main-color;
}
.fa-solid--grey {
  color: $grey;
}

@mixin font-size-1-em {
  font-size: 1em;
  font-weight: 500;
  font-family: $body-font;
}
@mixin font-size-h2 {
  font-size: 24px;
  font-weight: 700;
}
@mixin index-font-size-h3 {
  font-size: 1.1em;
  font-weight: 700;
}
@mixin index-font-size-p {
  font-size: 1.0625em;
  font-weight: 300;
}

@mixin flexbox-column {
  display: flex;
  flex-direction: column;
}
@mixin flexbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin box-shadow-main-second-color() {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
@mixin box-shadow-light-grey {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@mixin flex-justify-align-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page {
  position: fixed;
  background-color: $white;
  width: 100%;
  height: 100%;
  z-index: 10;
  @include flex-justify-align-center();
  animation: visible-page 3s cubic-bezier(1, 0.05, 0.95, -0.21) forwards;

  @keyframes visible-page {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  .loader {
    @include flex-justify-align-center();

    .circle {
      border: 8px solid $main-color;
      border-top: 8px solid transparent;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 2s ease-in-out infinite;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      &__little {
        opacity: 0.5;
        border: 4px solid $main-color;
        border-bottom: 4px solid transparent;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spinbis 2s ease-in-out infinite;
        position: absolute;
      }
      @keyframes spinbis {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .text {
      position: absolute;
      font-family: $title-font;
      font-size: medium;
      animation: word 2s forwards;
    }
    @keyframes word {
      0% {
        transform: scale(0);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

header {
  .logo-container {
    margin: auto;
    height: 63px;
    @include flex-justify-align-center();
    .logo {
      max-width: 162px;
    }
  }
  .form-container {
    width: 100%;
    height: 50px;
    margin: auto;
    @include flex-justify-align-center();
    gap: 17px;
    background-color: $medium-grey;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1) inset;
    img {
      color: $dark-grey;
    }
    input {
      border: none;
      max-width: 127px;
      background-color: $medium-grey;
      color: $dark-grey;
      @include font-size-1-em();
      font-family: $body-font;
      &::placeholder {
        color: $dark-grey;
        opacity: 1;
      }
    }
  }
}

.hero {
  background-color: $light-grey;
  padding: 39px 0px 57px 0px;
  .hero-content {
    width: 80%;
    margin: auto;
    @include flexbox-column();
    align-items: center;
    text-align: center;
  }
  .hero__title {
    margin: 0px 0px 15px 0px;
    font-size: 1.5em;
    font-weight: 700;
  }
  .hero__subtitle {
    margin: 0%;
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 27px;
  }
}
.hero__cta {
  display: flex;
  align-items: center;
  max-width: 218px;
  height: 50px;
  border: none;
  padding: 0px 19px 0px 19px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  @include box-shadow-main-second-color();
  color: $white;
  text-decoration: none;
  @include font-size-1-em();
  transition-duration: 0.5s;
}
.hero__cta:hover {
  color: $white;
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.operations {
  width: 100%;
  margin: auto;
  padding: 48px 0px 68px 0px;
  &__title {
    @include font-size-h2();
    width: 89%;
    margin: auto;
    margin-bottom: 26px;
  }
  &__container {
    @include flexbox-column();
    align-items: center;
    width: 89%;
    margin: auto;
    gap: 25px;
    &__card {
      width: 93%;
      height: 73px;
      padding: 0%;
      @include font-size-1-em();
      @include flexbox-row();
      border: none;
      border-radius: 20px;
      background-color: $light-grey;
      @include box-shadow-light-grey();
      .operations__container__card__number {
        @include flex-justify-align-center();
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $main-color;
        color: $white;
        position: relative;
        left: -12px;
      }
      .fa-solid {
        padding-left: 12px;
      }
      .fa-solid__mobil--grey {
        font-size: 19px;
      }
      .fa-solid__list--grey {
        font-size: 18px;
      }
      .fa-solid__house--purple {
        font-size: 18px;
      }
      .operations__container__card__txt {
        margin-left: 20px;
      }
    }
  }
}
.restaurants {
  background-color: $light-grey;
  width: 100%;
  margin: auto;
  padding: 54px 0px 66px 0px;

  &__title {
    @include font-size-h2();
    margin: 0;
    padding-bottom: 24px;
    width: 91%;
    margin: auto;
  }

  .restaurants__card {
    @include flexbox-column();
    gap: 18px;
    width: 91%;
    margin: auto;
    .card__container {
      border-radius: 15px;
      background-color: $white;
      position: relative;
      a {
        text-decoration: none;
        color: black;
      }
      &__img {
        position: relative;
        img {
          width: 100%;
          height: 174px;
          border-radius: 15px 15px 0px 0px;
        }
        &__tag {
          position: absolute;
          top: 13px;
          right: 12px;
          @include flex-justify-align-center();
          color: #008766;
          background-color: #99e2d0;
          border-radius: 2px;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          width: 80px;
          height: 29px;
        }
      }
      &__content {
        @include flexbox-row();
        align-items: center;
        justify-content: space-between;
        height: 30%;
        .content__left {
          height: 77px;
          @include flexbox-column();
          justify-content: center;
          padding-left: 13px;
          h3 {
            @include index-font-size-h3();
            margin: 0;
            padding-bottom: 5px;
          }
          p {
            @include index-font-size-p();
            margin: 0;
          }
        }
      }
      &__heart {
        padding-right: 49px;
        padding-bottom: 33px;
        position: absolute;
        right: 0px;
        bottom: 20px;
        cursor: pointer;
        .fa-regular {
          font-size: 23px;
          position: absolute;
        }

        .fa-solid {
          opacity: 0;
          font-size: 23px;
          position: absolute;
          background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: opacity 400ms;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

footer {
  @include flexbox-column();
  @include font-size-1-em();
  align-items: flex-start;
  background-color: $dark-grey;
  color: $white;
  padding: 22px 25px;
  .footer__logo {
    padding-bottom: 16px;
  }
  .footer__heading__logo-txt {
    @include flexbox-row();
    gap: 11px;
  }
}
footer p {
  margin: 0%;
  padding-bottom: 7px;
  a {
    text-decoration: none;
    color: $white;
  }
}

/*tablette*/
@media (min-width: 768px) {
  .operations {
    padding: 50px 0px 50px 0px;
    &__title {
      margin-bottom: 25px;
    }
    &__container {
      flex-direction: row;
      gap: 36px;
    }
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    height: 54px;
    padding: 30px 25px;
    .footer__logo {
      padding: 0px 40px 0px 74px;
    }
    .footer__heading {
      display: flex;
      flex-direction: row;
      gap: 7px;
      &__logo-txt__bis {
        padding-right: 37px;
      }
      &__weight {
        font-weight: 400;
      }
    }
    p {
      padding: 0;
    }
  }
}
/*desktop*/
@media (min-width: 1025px) {
  header {
    .logo-container {
      min-height: 96px;
      .logo {
        min-width: 200px;
      }
    }
    .form-container {
      box-shadow: none;
    }
  }
  .hero {
    padding: 30px 0px 30px 0px;
    .hero__title {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    .hero__subtitle {
      padding-bottom: 18px;
    }
  }
  .restaurants {
    padding: 30px 0px 30px 0px;
    .restaurants__card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px 100px;
      width: 75%;
    }
  }
}
