/*colors*/
/*nuance grise*/
/* neutre*/
body {
  max-width: 768px;
  margin: 0;
  font-family: "Roboto";
}

img {
  object-fit: cover;
}

.fa-solid--purple {
  color: #9356dc;
}

.fa-solid--grey {
  color: #7e7e7e;
}

.bg__color--lightgrey {
  background-color: #f6f6f6;
}

.loading-page {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: visible-page 3s cubic-bezier(1, 0.05, 0.95, -0.21) forwards;
}
@keyframes visible-page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-page .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-page .loader .circle {
  border: 8px solid #ff79da;
  border-top: 8px solid #9356dc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.loading-page .loader .circle__little {
  opacity: 0.5;
  border: 4px solid #9356dc;
  border-bottom: 4px solid #ff79da;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spinbis 2s ease-in-out infinite;
  position: absolute;
}
@keyframes spinbis {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-page .loader .text {
  position: absolute;
  font-family: "Shrikhand";
  font-size: medium;
  animation: word 2s infinite;
}
@keyframes word {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

header .logo-container {
  margin: auto;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo-container .logo {
  max-width: 100%;
}
header .form-container {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #eaeaea;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
header .form-container img {
  color: #353535;
}
header .form-container input {
  border: none;
  max-width: 109px;
  background-color: #eaeaea;
  color: #353535;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto";
  font-family: "Roboto";
}
header .form-container input::placeholder {
  color: #353535;
  opacity: 1;
}

.hero {
  background-color: #f6f6f6;
  padding: 39px 0px 57px 0px;
}
.hero .hero-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero .hero__title {
  margin: 0px 0px 15px 0px;
  font-size: 1.5em;
  font-weight: 700;
}
.hero .hero__subtitle {
  margin: 0%;
  font-size: 1.1em;
  font-weight: 300;
  padding-bottom: 27px;
}

.hero__cta {
  max-width: 218px;
  height: 50px;
  border: none;
  padding: 0px 19px 0px 19px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto";
  transition-duration: 0.5s;
}

.hero__cta:hover {
  color: #ffffff;
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89%;
  margin: auto;
  gap: 25px;
  padding: 48px 0px 68px 0px;
}
.operations__title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  width: calc(92% + 24px);
  text-align: left;
}
.operations__card {
  width: 93%;
  height: 73px;
  padding: 0%;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto";
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.operations__card .operation__card__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  position: relative;
  left: -12px;
}
.operations__card .fa-solid {
  padding-left: 12px;
}
.operations__card .fa-solid__mobil--grey {
  font-size: 19px;
}
.operations__card .fa-solid__list--grey {
  font-size: 18px;
}
.operations__card .fa-solid__house--purple {
  font-size: 18px;
}
.operations__card .operation__card__txt {
  margin-left: 20px;
}

.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  margin: auto;
  padding: 54px 0px 66px 0px;
}
.restaurants__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 24px;
  width: 91%;
  margin: auto;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 91%;
  margin: auto;
}
.restaurants .restaurants__cards .card__container {
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
}
.restaurants .restaurants__cards .card__container a {
  text-decoration: none;
  color: black;
}
.restaurants .restaurants__cards .card__container__img {
  position: relative;
}
.restaurants .restaurants__cards .card__container__img img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants__cards .card__container__img__tag {
  position: absolute;
  top: 13px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 80px;
  height: 29px;
}
.restaurants .restaurants__cards .card__container__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}
.restaurants .restaurants__cards .card__container__content .content__left {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
}
.restaurants .restaurants__cards .card__container__content .content__left h3 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
}
.restaurants .restaurants__cards .card__container__content .content__left p {
  font-size: 1.0625em;
  font-weight: 300;
  margin: 0;
}
.restaurants .restaurants__cards .card__container__heart {
  padding-right: 49px;
  padding-bottom: 33px;
  position: absolute;
  right: 0px;
  bottom: 20px;
}
.restaurants .restaurants__cards .card__container__heart .fa-regular {
  font-size: 23px;
  position: absolute;
}
.restaurants .restaurants__cards .card__container__heart .fa-solid {
  opacity: 0;
  font-size: 23px;
  position: absolute;
  background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms;
}
.restaurants .restaurants__cards .card__container__heart .fa-solid:active {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto";
  align-items: flex-start;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
}
footer .footer__logo {
  padding-bottom: 16px;
}
footer .footer__heading__logo-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

footer p {
  margin: 0%;
  padding-bottom: 7px;
}
footer p a {
  text-decoration: none;
  color: #ffffff;
}

/*colors*/
/*nuance grise*/
/* neutre*/
header .logo-container {
  position: relative;
}
header .logo-container .logo-back {
  position: absolute;
  left: 17px;
  top: 14px;
}
header .logo-container .logo {
  max-width: 136px;
}
header .photo-plate {
  width: 100%;
  height: 275px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  border: none;
  border-radius: 40px 40px 0px 0px;
  padding-top: 32px;
  padding-bottom: 40px;
  gap: 40px;
}
.menu .container-title {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 91%;
  margin: 0px 17px 0px 17px;
}
.menu .container-title__resto {
  margin: 0;
  font-size: 1.75em;
  font-weight: 400;
  font-family: "Shrikhand";
  width: 86%;
}
.menu .container-title__heart .fa-regular {
  font-size: 23px;
  position: absolute;
  bottom: 7px;
}
.menu .container-title__heart .fa-solid {
  position: absolute;
  bottom: 7px;
  opacity: 0;
  font-size: 23px;
  background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms;
}
.menu .container-title__heart .fa-solid:active {
  opacity: 1;
}
.menu__starter, .menu__main-course, .menu__dessert {
  position: relative;
}
.menu__starter .menu__title, .menu__main-course .menu__title, .menu__dessert .menu__title {
  font-size: 1em;
  font-weight: 300;
  margin: 0px 13px 13px 13px;
  text-transform: uppercase;
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}
.menu__starter__design, .menu__main-course__design, .menu__dessert__design {
  border: none;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /*&:hover &__slide,*/
  /*&:hover &__content,*/
}
.menu__starter__design:active .menu__starter__design__slide, .menu__starter__design:active .menu__main-course__design__slide, .menu__starter__design:active .menu__dessert__design__slide, .menu__main-course__design:active .menu__starter__design__slide, .menu__main-course__design:active .menu__main-course__design__slide, .menu__main-course__design:active .menu__dessert__design__slide, .menu__dessert__design:active .menu__starter__design__slide, .menu__dessert__design:active .menu__main-course__design__slide, .menu__dessert__design:active .menu__dessert__design__slide {
  transform: translateX(0px);
}
.menu__starter__design:active .menu__starter__design__content, .menu__starter__design:active .menu__main-course__design__content, .menu__starter__design:active .menu__dessert__design__content, .menu__main-course__design:active .menu__starter__design__content, .menu__main-course__design:active .menu__main-course__design__content, .menu__main-course__design:active .menu__dessert__design__content, .menu__dessert__design:active .menu__starter__design__content, .menu__dessert__design:active .menu__main-course__design__content, .menu__dessert__design:active .menu__dessert__design__content {
  width: calc(100% - 90px);
}
.menu__starter__design__content, .menu__main-course__design__content, .menu__dessert__design__content {
  width: calc(100% - 30px);
  margin: 15px;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.menu__starter__design__content__title, .menu__main-course__design__content__title, .menu__dessert__design__content__title {
  font-size: 1.125em;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__starter__design__content__subtitle-price, .menu__main-course__design__content__subtitle-price, .menu__dessert__design__content__subtitle-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.menu__starter__design__content__subtitle-price__subtitle, .menu__main-course__design__content__subtitle-price__subtitle, .menu__dessert__design__content__subtitle-price__subtitle {
  font-size: 0.94019rem;
  font-weight: 300;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__starter__design__content__subtitle-price__price, .menu__main-course__design__content__subtitle-price__price, .menu__dessert__design__content__subtitle-price__price {
  font-size: 0.94019rem;
  font-weight: 500;
}
.menu__starter__design__slide, .menu__main-course__design__slide, .menu__dessert__design__slide {
  position: absolute;
  right: 0;
  transform: translateX(64px);
  transition: transform 0.5s ease-in-out;
  height: 73.5px;
}
.menu__starter__design__slide img, .menu__main-course__design__slide img, .menu__dessert__design__slide img {
  height: 100%;
}
.menu .menu__cta {
  margin: 0% 25%;
  max-width: 186px;
  height: 50px;
  border: none;
  padding: 0px 19px 0px 19px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto";
  transition-duration: 0.5s;
}
.menu .menu__cta:hover {
  color: #ffffff;
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*# sourceMappingURL=main.css.map */
