/*colors*/
/*nuance grise*/
/* neutre*/
header .logo-container {
  position: relative;
}
header .logo-container .logo-back {
  position: absolute;
  left: 17px;
  top: 14px;
}
header .photo-plate {
  width: 100%;
  height: 275px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  border: none;
  border-radius: 40px 40px 0px 0px;
  padding-top: 32px;
  padding-bottom: 40px;
  gap: 40px;
}
.menu section {
  opacity: 0;
  animation: fadeIn 1000ms forwards;
}
.menu section:nth-child(2) {
  animation-delay: 600ms;
}
.menu section:nth-child(3) {
  animation-delay: 900ms;
}
.menu section:nth-child(4) {
  animation-delay: 1200ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu .container-title {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 91%;
  margin: 0px 17px 0px 17px;
}
.menu .container-title__resto {
  margin: 0;
  font-size: 1.75em;
  font-weight: 400;
  font-family: "Shrikhand";
  width: 86%;
}
.menu .container-title__heart .fa-regular {
  font-size: 23px;
  position: absolute;
  bottom: 7px;
}
.menu .container-title__heart .fa-solid {
  position: absolute;
  bottom: 7px;
  opacity: 0;
  font-size: 23px;
  background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms;
}
.menu .container-title__heart .fa-solid:hover {
  opacity: 1;
}
.menu__starter, .menu__main-course, .menu__dessert {
  position: relative;
}
.menu__starter .menu__title, .menu__main-course .menu__title, .menu__dessert .menu__title {
  font-size: 1em;
  font-weight: 300;
  margin: 0px 13px 13px 13px;
  text-transform: uppercase;
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}
.menu__starter__design, .menu__main-course__design, .menu__dessert__design {
  border: none;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 12px 0px 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.menu__starter__design:active .menu__starter__design__slide, .menu__starter__design:active .menu__main-course__design__slide, .menu__starter__design:active .menu__dessert__design__slide, .menu__main-course__design:active .menu__starter__design__slide, .menu__main-course__design:active .menu__main-course__design__slide, .menu__main-course__design:active .menu__dessert__design__slide, .menu__dessert__design:active .menu__starter__design__slide, .menu__dessert__design:active .menu__main-course__design__slide, .menu__dessert__design:active .menu__dessert__design__slide {
  transform: translateX(0px);
}
.menu__starter__design:active .menu__starter__design__content, .menu__starter__design:active .menu__main-course__design__content, .menu__starter__design:active .menu__dessert__design__content, .menu__main-course__design:active .menu__starter__design__content, .menu__main-course__design:active .menu__main-course__design__content, .menu__main-course__design:active .menu__dessert__design__content, .menu__dessert__design:active .menu__starter__design__content, .menu__dessert__design:active .menu__main-course__design__content, .menu__dessert__design:active .menu__dessert__design__content {
  width: calc(100% - 94px);
}
.menu__starter__design__content, .menu__main-course__design__content, .menu__dessert__design__content {
  width: calc(100% - 30px);
  margin: 15px;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.menu__starter__design__content__title, .menu__main-course__design__content__title, .menu__dessert__design__content__title {
  font-size: 1.125em;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__starter__design__content__subtitle-price, .menu__main-course__design__content__subtitle-price, .menu__dessert__design__content__subtitle-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.menu__starter__design__content__subtitle-price__subtitle, .menu__main-course__design__content__subtitle-price__subtitle, .menu__dessert__design__content__subtitle-price__subtitle {
  font-size: 0.94019rem;
  font-weight: 300;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__starter__design__content__subtitle-price__price, .menu__main-course__design__content__subtitle-price__price, .menu__dessert__design__content__subtitle-price__price {
  font-size: 0.94019rem;
  font-weight: 500;
}
.menu__starter__design__slide, .menu__main-course__design__slide, .menu__dessert__design__slide {
  position: absolute;
  right: 0;
  transform: translateX(64px);
  transition: transform 0.5s ease-in-out;
  height: 73.5px;
}
.menu__starter__design__slide img, .menu__main-course__design__slide img, .menu__dessert__design__slide img {
  height: 100%;
}
.menu .menu__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 25%;
  max-width: 186px;
  height: 50px;
  border: none;
  padding: 0px 19px 0px 19px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto";
  transition-duration: 0.5s;
}
.menu .menu__cta:hover {
  color: #ffffff;
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .menu .container-title {
    justify-content: center;
    width: 97%;
    gap: 24px;
  }
  .menu .container-title__resto {
    width: auto;
  }
  .menu .menu__cta {
    margin: 0% 41.5%;
  }
}
@media (min-width: 1025px) {
  header .logo-container .logo-back {
    position: absolute;
    left: 17px;
    top: 33px;
  }
  header .photo-plate {
    height: 385px;
    object-position: -8px -345px;
  }
  .menu {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 51px;
  }
  .menu .container-title {
    justify-content: center;
    width: 97%;
    gap: 24px;
  }
  .menu .container-title__resto {
    width: auto;
  }
  .menu__starter, .menu__main-course, .menu__dessert {
    margin: auto;
    width: 60%;
  }
}

/*# sourceMappingURL=resto.css.map */
